<!DOCTYPE html>
<html>
<head>
    <title>Web Kakeibo</title>
</head>
<body>
    <h1>Web Kakeibo</h1>
    <p>ここから家計簿を作っていきます。</p>
    <form action="/add" method="post">
        <input name="item" placeholder="商品名">
        <input name="money" placeholder="金額">
        <button>追加</button>
    </form>

    <form action="/search" method="post">
        <input name="item" placeholder="商品名">
        <button>検索</button>
    </form>

    {% for record in kakeibo %}
    <p>{{record["id"]}}  {{record["item"]}}  {{record["money"]}}円
        <a href="/edit/{{record['id']}}">編集</a>
         <a href="/delete/{{ record['id'] }}">削除</a>
    </p>
    {% endfor %}
</body>
</html>